* {
  border: px solid blue !important;
}* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.body {
  background-color:green;
  background:="imags/background1.png";
}@media only screen and (max-width:400px) {
   {
     background-color: blue;
  } }
@media only screen and (min-width: 600px) {
  body {
     background-color:white;
}
.wrapper{
  background-image:url("imags/bag.jpg") no-repeat;}
  }
.header{
text-align:center;
background-color:gray;
}
.footer{
text-align: center;
background-color:gray;}
.form{text-align: center;
}p {
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   text-align: center;    
}
   
.grid {margin: auto;
max-width:1200px;
width: 100%;
padding:25px;
   border:5px dotted #000000
;
   background-color:white;  
   background-clip:border-box;
   margin-top: 40px;
   
   }.row {
  width: 100%;
  margin-bottom: px;
  display: flex;
  }
  .col-1 {
  width:8.33%;
}.col-2 {
  width: 16.66%;
}.col-3 {
  width: 25%;
}.col-4 {
  width: 33.33%;
  text-align: center;
}.col-5 {
  width: 41.66%;
}.col-6 {
  width: 50%;
}.col-7 {
  width: 58.33%;
}
j
.col-8 {
  width: 66.66%;
}.col-9 {
  width: 75%;
}.col-10 {
  width: 83.33%;
}.col-11 {
  width: 91.66%;}
.col-12 {
  width: 100%;
  text-align: center;}