<!DOCTYPE html>
<html>
<head>
<title>Teacher Registration</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script  src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="  crossorigin="anonymous"></script>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" rel="stylesheet">

</head>
<body>
<div class="container col-md-6 col-md-offset-3">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Submit Ad</h3>
  </div>
  <div class="panel-body">
  <form  action="index.html" class="form-horizontal">
  <fieldset>
    <legend>Job Requirement</legend>
    <div class="form-group">
      <label for="inputSchoolName" class="col-md-2 control-label">School Name</label>
      <div class="col-md-6">
        <input class="form-control" id="inputSchoolName" placeholder="School Name" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputJobTitle" class="col-md-2 control-label">Job Title</label>
      <div class="col-md-6">
        <input class="form-control" id="inputJobTitle" placeholder="Job Title" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputSubject" class="col-md-2 control-label" required>Subject</label>
      <div class="col-md-6">
        <select class="form-control" id="inputSubject" required>
          <option>SELECT SUBJECT</option>
          <option>MATHEMATICS</option>
          <option>ENGLISH LANGUAGE</option>
          <option>CHEMISTRY</option>
          <option>PHYSICS</option>
          <option>BIOLOGY</option>
          <option>ECONOMINS</option>
          <option>AGRICULTURAL SCIENCE</option>
          <option>GEOGRAPHY</option>
          <option>YORUBA LANGUAGE</option>
          <option>IGBO LANGUAGE</option>
          <option>HAUSA LANGUAGE</option>
          <option>COMPUTER STUDIES</option>
        </select>
     </div>
    </div>


    <div class="form-group">
      <label for="Salary Range" class="col-md-2 control-label">Salary Range</label>
      <div class="col-md-3">
       
        <input class="form-control" id="MinSalary" Placeholder="Min Salary" type="text" required>
        
     </div>
   <!-- this inline javascript is making sure alphabet does not work for the input type-->  
<script language="JavaScript">
$(function(){
  $('#MinSalary').keypress(function(e){
    if(e.which == 48 || e.which == 49 || e.which == 50 || e.which == 51 || e.which == 52 || e.which == 53 || e.which==54 || e.which==55 || e.which==56|| e.which==57) {
    } else {
      return false;
    }
  });
});
</script>

    <div class="col-md-3">
        <input class="form-control" id="MaxSalary" Placeholder="Max Salary" type="text" required>
     </div>
    </div>

<!-- this inline javascript is making sure alphabet does not work for the input type-->
<script language="JavaScript">
$(function(){
  $('#MaxSalary').keypress(function(e){
    if(e.which == 48 || e.which == 49 || e.which == 50 || e.which == 51 || e.which == 52 || e.which == 53 || e.which==54 || e.which==55 || e.which==56|| e.which==57) {
    } else {
      return false;
    }
  });
});
</script>


    <div class="form-group">
      <label for="Experience" class="col-md-2 control-label">Years of Experience</label>
      <div class="col-md-6">
        <select class="form-control" id="Experience" required>
          <option value="1 yr">Less than 1 year</option>
          <option>1 to 2 years</option>
          <option>3 to 5 years</option>
          <option>6 to 10 years</option>
          <option>11 years or more</option>
        </select>
     </div>
    </div>



    <div class="form-group">
      <label for="Qualification" class="col-md-2 control-label">Qualification</label>
      <div class="col-md-6">
        <select class="form-control" id="Qualification" required>
          <option> SELECT QUALIFICATION</option>
          <option>NCE</option>
          <option>ND</option>
          <option>HND</option>
          <option>B.Sc</option>
          <option>M.Sc</option>
        </select>
     </div>
    </div>


 <div class="form-group">
      <label for="JobDescription" class="col-md-2 control-label">Job Description</label>
      <div class="col-md-6">
        <textarea class="form-control" rows="3" id="JobDescription" required></textarea>


        <div class="checkbox col-md-9">
          <label>
            <input type="checkbox" required> Confirm The Form Details
          </label>
        </div>



      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6 col-md-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>




</div>
</body>



</html>
