{% extends  "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename= 'images/favicon.ico') }}"
        type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}"
        type="image/x-icon">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/> -->
{% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}
<link rel="shortcut icon" href="{{ url_for('static', filename= 'images/favicon.ico') }}"
        type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
{% endblock head%}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script> -->
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock scripts%}

{% block title %}Kuti{% endblock title%}
{% block navbar %}
<div class="fixed-header" >
  <div class="navbar navbar-inverse container" role="navigation">
    <div class="navabar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Kuti</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav " style="width:90%">
        <li ><a href="/">Home</a></li>
        <li class="navbar-right"><a  href="#">Register as a Teacher</a></li>
        <li class="navbar-right"><a  href="#">Register as a School</a></li>
        {% if current_user.is_authenticated %}
        <li class="navbar-right">
          <a href="{{ url_for("auth.logout") }}">Sign Out</a></li>
          {% if current_user.is_administrator() %}
          <li class="navbar-right">
            <a href="{{ url_for("admin.index") }}">Admin Dashboard</a></li>
          {%endif%}
        {% else %}
        <li class="navbar-right">
          <a  id="sign_in" onclick="document.getElementById('login_modal').style.display='block'" href="#">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock navbar%}
{% block content %}
{% block main_header %}
<div class="headers">
  <div class="main_catch">
    <h1 style="color:wheat;text-align:center">Get Qualified Teachers on Board.</h1>
    <button style="width:200px;margin:auto;
            display:block;color:wheat;background-color:navy; opacity:0.7;">Start today</button>
  </div>
</div>
{% endblock main_header %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning" style="margin:20px;padding:20px">
    <button type="button" style="width:0%;background-color:rgba(0,0,0,0);
              color:black; font-size:20px; float:right;margin:-19px;"
            data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
<div id="login_modal" class="modal">
  <span onclick="document.getElementById('login_modal').style.display='none'"
          class="close" title="Close Modal">&times;</span>
    <form class="modal-content animate" method="post" action="{{ url_for('auth.login') }}">
      {{ login_form.csrf_token }}
      <div class="login_imgcontainer">
        <img src="{{ url_for('static', filename= 'images/img_avatar.png') }}"
        alt="Avatar" class="login_avatar">
      </div>

      <div class="container">
        <label><b>Username</b></label>
        <input id="name_box" type="text" placeholder="Enter Username" name="email" required>

        <label><b>Password</b></label>
        <input id="pass_box" type="password" placeholder="Enter Password" name="password" required>

        <button id="login_submit" type="submit">Login</button>
        <input type="checkbox" name="remember_me" checked="checked"> Remember me
      </div>

      <div class="container" onclick="document.getElementById('login_modal').style.display='none'"
          style="background-color:#f1f1f1">
        <button type="button" class="login_cancelbtn">Cancel</button>
        <span class="login_psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
{% block page_content %}
{% endblock page_content%}
{% endblock content %}
