<!doctype html>

<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/index.css">
		<title>Edit Career Profile Form</title>
	</head>

	<body>
        <div>
        <header>
            <nav>
                <ul>
                    <li><h3>Some header here</h3></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
            <h1 class="top-head">Edit Career Profile</h1>
            </header>
            <div class="container">
                <div class="wrapper">
                    <ul class="steps">
                        <li class="is-active"> Personal Information</li>
                        <li>About</li>
                        <li>Education and Work Experience</li>
                    </ul>
                    <form class="form-wrapper">
                        <fieldset class="section is-active">
                            <h3  class="top">Personal Details</h3>
                            <input type="text" name="first-name" placeholder="First Name" id="first-name">
                            <input type="text" name="last-name" placeholder="Last Name" id="last-name">
                          	<input type="date" placeholder="Date of Birth - " onchange="this.className=(this.value!=''?'has-value':'')">
                            <input type="text" name="address-1" placeholder="Contact Address Line 1" id="address">
														<input type="text" name="address-2" placeholder="Contact Address Line 2 (Optional)" id="address">
														<input type="text" name="address-3" placeholder="Contact Address Line 3 (Optional)" id="address">
                            <input type="text" name="state" placeholder="State" id="state">
                            <input type="text" name="phone" placeholder="Phone Number" id="phone">
                            <input type="email" placeholder="$registeredemail@host.com" id="email">

                            <div class="button">Next</div>
                        </fieldset>
                        <fieldset class="section">
                            <h3>About Yourself</h3>
                            <textarea placeholder="Tell us About Yourself" name="about" id="about"></textarea>
                            <textarea placeholder="What are your Career Goals" id="goals"></textarea>
                            <div class="button">Next</div>
                        </fieldset>
                        <fieldset class="section">
                            <h3>Education/Work Experience</h3>
                            <input type="text" name="education" placeholder="Previous Education" id="education">
                            <input type="text" placeholder="Work Experience" name="work" id="work">
                            <div class="button">Next</div>
                        </fieldset>
                        <fieldset class="section">
                            <h3>Profile Updated!</h3>
                            <p>Cheers!! Your career profile has been updated successfully</p>

                            <div class="button">Back to Profiles></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="../static/js/index.js"></script>
	</body>
</html>
