<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
<link rel="stylesheet" href="../static/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<title>SCHOOL REGISTRATION FORM ACCEPTANCE</title>
<body class="cool">
    <div class="row">
        <div class="col-md-12 box font"><img src="../static/images/smiley.jpg">
        <h3>THANK YOU!</h3>
        <p><h4> YOUR SCHOOL HAVE BEEN ADDED TO OUR DATABASE </h4></p>
        <p><button class="btn btn-block"><a href="./index.html">RETURN TO PREVIOUS</a></button></p>
        </div>
    </div>
</body>