<!doctype html>

<html>
	<head>
		<title>Page Title</title>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/index.css">
		<title>Career Profile Form</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
	</head>

	<body>
        <div>
            <header>
            <nav>
                <ul>
                    <li><h3>Some nav elements here</h3></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
            <h1 class="top-head">Career Profile Page</h1>
            </header>
        </div>
        
        <div class="button-away"><a href="career.html" Back to Profiles></a></div>
	</body>
</html>