{% extends "base.html" %}
{% block main_header %}
{% endblock main_header %}
{% block page_content %}
<div class="container">
  <h1 style="margin-top: 80px; text-align:center">School Profile</h1>
  <div>
    <p><span>School Name: </span>{{school.name}}</p>
    <p><span>Address Line 1: </span>{{school.address1}}</p>
    <p><span>Address Line 2: </span>{{school.address2}}</p>
    <p><span>Location: </span>{{school.location}}</p>
    <p><span>Website: </span>{{school.website}}</p>
    <p><span>Phone Number: </span>{{school.phone_number}}</p>
  </div>
</div>
{% endblock page_content%}
